@use "../../scss/" as *;

.hero-slide {
  margin-bottom: 3rem;
  overflow: hidden;
  // height: 100vh;
  .swiper-container {
    width: 100vw;
    display: flex;
    transition: 1s ease-in;
    .swiper-slide {
      width: 100vw;
    }
  }
}
